<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534146978808-dkc4u0k7hj5qqfvle1e0lb9o1h3qpi22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534146978808-dkc4u0k7hj5qqfvle1e0lb9o1h3qpi22</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Iuv9Jia5lT1nyfacK6yfQkk1XHGBL7s</string>
	<key>GCM_SENDER_ID</key>
	<string>534146978808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zawawa.Original15-chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-6980a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-6980a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534146978808:ios:6c9ed29e9e2f1afa983c0d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-6980a.firebaseio.com</string>
</dict>
</plist>